*, *::before, *::after {
    padding:0;
    margin:0;
    box-sizing:inherit;
}

html {
    font-size:62.5%;
}

body {
    box-sizing:border-box;
    font-family:"Inter", sans-serif;
    min-height:100vh;
}

h1 {color:red; display:flex;}